.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: var(--clr-gray);
}

.button {
  border: none;
  margin: 2px;
  border-radius: 10px;
  padding: 5px 20px;
  text-transform: uppercase;
}

header {
  box-shadow: var(--box-shadow);
  margin-bottom: 50px;
}

#nav {
  padding: 20px 0;
}

